In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=e79387ade992f8fac4bae8d1b180c36fba9e0485aa01fc5b1df970984d64877e
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Read Top 5 Rows from CSV").getOrCreate()
df = spark.read.csv("housing.csv", header = True)
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|       NEAR BAY|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|       NEAR BAY|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|       NEAR BAY|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|       NEAR BAY|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|       NEAR BAY|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|       NEAR BAY|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|       NEAR BAY|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [ ]:
#creating table using createOrReplaceTempview
df.createOrReplaceTempView("myTable")

In [ ]:
top5Rows = spark.sql("SELECT * FROM myTable LIMIT 5")
top5Rows.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+

In [ ]:
#1. What is the minimum income
minimumIncome = spark.sql("select MIN(median_income)as Minimun_Income from myTable")
minimumIncome.show()

+--------------+
|Minimun_Income|
+--------------+
|        0.4999|
+--------------+

In [ ]:
#2.What is the maximum income
spark.sql('select * from myTable where median_income = (select max(median_income) from myTable)').show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -117.93|    33.9|              30.0|     2629.0|         331.0|     956.0|     319.0|       9.9071|          500001.0|      <1H OCEAN|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+

In [ ]:
#3.What is the average income
avgIncome = spark.sql("select avg(median_income)as avg_Income from myTable")
avgIncome.show()

+------------------+
|        avg_Income|
+------------------+
|3.8706710029070246|
+------------------+

In [ ]:
#4. What is Average income between from Lowest to average income
avg_income_between=spark.sql("SELECT AVG(median_income) as Average_Income_between FROM myTable WHERE median_income <=(SELECT AVG(median_income)FROM myTable) AND median_income >=(SELECT MIN(median_income) FROM myTable)")
avg_income_between.show()

+----------------------+
|Average_Income_between|
+----------------------+
|    2.6656849300233136|
+----------------------+

In [ ]:
#5.What is average icome from average income to maximum one
avg_income_between_higher=spark.sql("SELECT AVG(median_income) as Average_Income_between_avgtomax FROM myTable WHERE median_income >=(SELECT AVG(median_income)FROM myTable) AND median_income <=(SELECT MAX(median_income) FROM myTable)")
avg_income_between_higher.show()

+-------------------------------+
|Average_Income_between_avgtomax|
+-------------------------------+
|              5.545596062992115|
+-------------------------------+

In [ ]:
#Task- Check how many duplicate latitude presents and show me the list of rows which does not have
#duplicate latitude

duplicate_latitudes_count = spark.sql("SELECT latitude, COUNT(*) as count FROM myTable GROUP BY latitude HAVING count > 1").count()
duplicate_latitudes_count

779

In [ ]:
non_duplicate_df = spark.sql("SELECT * FROM myTable WHERE latitude NOT IN (SELECT latitude FROM myTable GROUP BY latitude HAVING COUNT(*) > 1)")

In [ ]:
non_duplicate_df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|   -121.8|   39.64|              25.0|     2202.0|         422.0|    1109.0|     403.0|       2.8306|           87500.0|         INLAND|
|  -121.56|   39.69|               8.0|     2836.0|         522.0|    1163.0|     512.0|         3.13|          168300.0|         INLAND|
|  -121.46|   39.54|              14.0|     5549.0|        1000.0|    1822.0|     919.0|       2.9562|          142300.0|         INLAND|
|  -121.74|   39.38|              27.0|     2596.0|         435.0|    1100.0|     409.0|       2.3243|           85500.0|         INLAND|
|  -124.21|   41.77|              17.0|     3461.0|         722.0|    1947.0|     647.0|       2.5795|           68400.0|     NEAR OCEAN|
|  -124.16|   41.92|              19.0|     1668.0|         324.0|     841.0|     283.0|       2.1336|           75000.0|     NEAR OCEAN|
|   -124.3|   41.84|              17.0|     2677.0|         531.0|    1244.0|     456.0|       3.0313|          103600.0|     NEAR OCEAN|
|  -123.91|   41.68|              22.0|     1880.0|         360.0|     743.0|     314.0|       2.9688|          152700.0|      <1H OCEAN|
|  -123.83|   41.88|              18.0|     1504.0|         357.0|     660.0|     258.0|         3.13|          116700.0|      <1H OCEAN|
|  -119.69|   36.46|              29.0|     1702.0|         301.0|     914.0|     280.0|       2.8125|           79200.0|         INLAND|
|  -124.08|   40.91|              13.0|     2522.0|         719.0|    1381.0|     628.0|       1.6667|           78800.0|     NEAR OCEAN|
|  -123.76|   41.03|              24.0|     2386.0|         565.0|    1058.0|     414.0|       2.0644|           79800.0|      <1H OCEAN|
|  -123.72|   41.09|              19.0|     1970.0|         431.0|    1166.0|     363.0|       1.8208|           50000.0|      <1H OCEAN|
|  -123.63|   41.11|              19.0|     1797.0|         384.0|    1033.0|     327.0|       1.4911|           59200.0|      <1H OCEAN|
|  -123.66|    41.3|              22.0|     1580.0|         372.0|     686.0|     264.0|       1.8065|           62700.0|      <1H OCEAN|
|  -123.52|   41.01|              17.0|     1564.0|         345.0|     517.0|     222.0|       2.1542|           83800.0|         INLAND|
|  -124.08|   41.36|              29.0|     1029.0|         239.0|     509.0|     196.0|       2.0156|           62800.0|     NEAR OCEAN|
|  -124.06|   41.13|              22.0|     3263.0|         799.0|    1384.0|     578.0|       2.4708|          119400.0|     NEAR OCEAN|
|  -124.16|   41.02|              23.0|     1672.0|         385.0|    1060.0|     390.0|       2.1726|           75500.0|     NEAR OCEAN|
|  -124.17|   40.74|              17.0|     2026.0|         338.0|     873.0|     313.0|       4.0357|          128900.0|     NEAR OCEAN|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [ ]:
#Task 2- on Which latitude and longitude has minimum population
min_population_row = spark.sql("SELECT latitude, longitude, population FROM myTable ORDER BY population ASC LIMIT 1")

min_population_row.show()

+--------+---------+----------+
|latitude|longitude|population|
+--------+---------+----------+
|   37.95|  -122.37|     100.0|
+--------+---------+----------+

In [ ]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]
columns = ["firstname","middlename","lastname","dob","gender","salary"]
simple_df = spark.createDataFrame(data,  schema=columns)
simple_df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [ ]:
#creating table using createOrReplaceTempview
simple_df.createOrReplaceTempView("dataTable")

In [ ]:
new_df = spark.sql("SELECT *, CASE WHEN salary < 4000 THEN True Else False End as increment FROM dataTable")
new_df.show()

+---------+----------+--------+----------+------+------+---------+
|firstname|middlename|lastname|       dob|gender|salary|increment|
+---------+----------+--------+----------+------+------+---------+
|    James|          |   Smith|1991-04-01|     M|  3000|     true|
|  Michael|      Rose|        |2000-05-19|     M|  4000|    false|
|   Robert|          |Williams|1978-09-05|     M|  4000|    false|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|    false|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|     true|
+---------+----------+--------+----------+------+------+---------+